.root {
    -fx-background-color: "black";
}

.label {
    -fx-font-size: 20;
    -fx-font-family: "Lucida Console", "Lucida Sans Typewriter", "Lucida Sans Typewriter";
    -fx-font--fill: "white";
    -fx-alignment: center;

}

#titleLabel {
    -fx-font-size: 60;
}
